.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lastNameInput {
  height: 36px;
  margin-left: 6px;
}

.clear {
  padding: 6px;
  margin-left: 6px;
  border-radius: 4px;
  background: #4c37d3;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.clear:hover {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
