.form {
  position: relative;
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.block input {
  width: 180px;
  height: 26px;
}

.button {
  margin-bottom: 10px;
  background: #4c37d3;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.button:hover {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.errorBlock {
  height: 22px;
}
.error {
  font-size: 12px;
  color: red;
}
