.wrapper {
  position: relative;
}

.list {
  list-style-type: none;
  position: absolute;
  top: 20px;
  width: 100px;
  background: grey;
  display: none;
}

.isOpen {
  display: block;
}

.wrapper2 {
  position: relative;
  top: 100px;
  left: 200px;
}

.block {
  width: 150px;
  background-color: teal;
}
